<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Error - Erreur</title>
		<meta content="width=device-width,initial-scale=1" name="viewport">
		<link href="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_44/wet-boew/assets/favicon.ico" rel="icon" type="image/x-icon">
    <link rel="stylesheet" href="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_44/wet-boew/css/theme-srv.min.css">
	</head>

	<body vocab="http://schema.org/" typeof="WebPage">
    <header role="banner" id="wb-bnr" class="container"> 
      <div id="wb-bnr" class="row">
        <div class="row">
          <div class="col-sm-6">
            <img id="gcwu-sig" src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_44/wet-boew/assets/sig-blk-en.svg" alt="Government of Canada / Gouvernement du Canada">
          </div>
          <div class="col-sm-6">
            <img id="wmms" src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_44/wet-boew/assets/wmms-blk.svg" alt="Symbol of the Government of Canada">
          </div>
        </div>
      </div>
    </header>
    <main role="main" property="mainContentOfPage" class="container">
      <div class="row mrgn-tp-lg">
        <div class="col-md-12">
          <h1><span class="glyphicon glyphicon-warning-sign mrgn-rght-md"></span> Error Message / Message d'erreur</h1>
          <p><%= err %></p>
        </div>
      </div>
    </main>
	</body>
</html>